*, *:after, *:before {
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  user-select: none;
  color: #00ff00 !important;
}

html, body, #container, #app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #000000;
}

body {
  padding: 1vw;
}

body, #app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#app {
  font-size: 5vmin;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2vmin;
}
